<p><a href="#" class="neos btn">Button</a></p>
<p><a href="#" class="neos btn alt">Alternate Button</a></p>
<p><a href="#" class="neos btn disabled">Disabled Button</a></p>
<p><a href="#" class="neos text-btn">Text Button</a></p>