<p><a href="#" class="flow btn">Button</a></p>
<p><a href="#" class="flow btn alt">Alternate Button</a></p>
<p><a href="#" class="flow btn disabled">Disabled Button</a></p>
<p><a href="#" class="flow text-btn">Text Button</a></p>