&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/NEOS/DONTS/01_T3NEOS_dont.png&quot; class=&quot;logo&quot; alt=&quot;Don't do this to the Neos Logo&quot; title=&quot;Don't do this to the Neos Logo&quot; /&gt;&lt;/a&gt;
&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/NEOS/DONTS/02_T3NEOS_dont.png&quot; class=&quot;logo&quot; alt=&quot;Don't do this to the Neos Logo&quot; title=&quot;Don't do this to the Neos Logo&quot; /&gt;&lt;/a&gt;
&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/NEOS/DONTS/03_T3NEOS_dont.png&quot; class=&quot;logo&quot; alt=&quot;Don't do this to the Neos Logo&quot; title=&quot;Don't do this to the Neos Logo&quot; /&gt;&lt;/a&gt;
&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/NEOS/DONTS/04_T3NEOS_dont.png&quot; class=&quot;logo&quot; alt=&quot;Don't do this to the Neos Logo&quot; title=&quot;Don't do this to the Neos Logo&quot; /&gt;&lt;/a&gt;
&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/NEOS/DONTS/05_T3NEOS_dont.png&quot; class=&quot;logo&quot; alt=&quot;Don't do this to the Neos Logo&quot; title=&quot;Don't do this to the Neos Logo&quot; /&gt;&lt;/a&gt;