&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/FLOW/DONTS/01_T3FLOW_dont.png&quot; class=&quot;logo&quot; alt=&quot;Don't do this to the Flow Logo&quot; title=&quot;Don't do this to the Flow Logo&quot; /&gt;&lt;/a&gt;
&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/FLOW/DONTS/02_T3FLOW_dont.png&quot; class=&quot;logo&quot; alt=&quot;Don't do this to the Flow Logo&quot; title=&quot;Don't do this to the Flow Logo&quot; /&gt;&lt;/a&gt;
&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/FLOW/DONTS/03_T3FLOW_dont.png&quot; class=&quot;logo&quot; alt=&quot;Don't do this to the Flow Logo&quot; title=&quot;Don't do this to the Flow Logo&quot; /&gt;&lt;/a&gt;
&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/FLOW/DONTS/04_T3FLOW_dont.png&quot; class=&quot;logo&quot; alt=&quot;Don't do this to the Flow Logo&quot; title=&quot;Don't do this to the Flow Logo&quot; /&gt;&lt;/a&gt;
&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/FLOW/DONTS/05_T3FLOW_dont.png&quot; class=&quot;logo&quot; alt=&quot;Don't do this to the Flow Logo&quot; title=&quot;Don't do this to the Flow Logo&quot; /&gt;&lt;/a&gt;