<div class="headings">
<h1>h1 Title bold</h1>
<h2>h2 Title bold</h2>
<h3>h3 Title bold</h3>
<p>&nbsp;</p>
<h1 class="chapter">h1 Title regular</h1>
<h2 class="chapter">h2 Title regular</h2>
<h3 class="chapter">h3 Title regular</h3>
</div>