<a href="{{ url }}"><img src="../../images/NEOS/DONTS/01_T3NEOS_dont.png" class="logo" alt="Don't do this to the Neos Logo" title="Don't do this to the Neos Logo" /></a>
<a href="{{ url }}"><img src="../../images/NEOS/DONTS/02_T3NEOS_dont.png" class="logo" alt="Don't do this to the Neos Logo" title="Don't do this to the Neos Logo" /></a>
<a href="{{ url }}"><img src="../../images/NEOS/DONTS/03_T3NEOS_dont.png" class="logo" alt="Don't do this to the Neos Logo" title="Don't do this to the Neos Logo" /></a>
<a href="{{ url }}"><img src="../../images/NEOS/DONTS/04_T3NEOS_dont.png" class="logo" alt="Don't do this to the Neos Logo" title="Don't do this to the Neos Logo" /></a>
<a href="{{ url }}"><img src="../../images/NEOS/DONTS/05_T3NEOS_dont.png" class="logo" alt="Don't do this to the Neos Logo" title="Don't do this to the Neos Logo" /></a>