&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/NEOS/DOS/01_T3NEOS_classic.png&quot; class=&quot;logo&quot; alt=&quot;Neos Logo&quot; title=&quot;Neos Logo&quot; /&gt;&lt;/a&gt;
&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/NEOS/DOS/02_T3NEOS_black.png&quot; class=&quot;logo&quot; alt=&quot;Neos Logo&quot; title=&quot;Neos Logo&quot; /&gt;&lt;/a&gt;
&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/NEOS/DOS/03_T3NEOS_grey.png&quot; class=&quot;logo&quot; alt=&quot;Neos Logo&quot; title=&quot;Neos Logo&quot; /&gt;&lt;/a&gt;
&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/NEOS/DOS/04_T3NEOS_white_keycolor.png&quot; class=&quot;logo&quot; alt=&quot;Neos Logo&quot; title=&quot;Neos Logo&quot; /&gt;&lt;/a&gt;
&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/NEOS/DOS/05_T3NEOS_white_black.png&quot; class=&quot;logo&quot; alt=&quot;Neos Logo&quot; title=&quot;Neos Logo&quot; /&gt;&lt;/a&gt;