<ul class="sg-colors flow-colors">
	<li>
		<span class="sg-swatch" style="background: #ab0000;"></span>
		<span class="sg-label">Flow Key Color</span>
		<span class="sg-label">Hex: #ab0000</span>
		<span class="sg-label">RGB: 171/0/0</span>
		<span class="sg-label">CMYK: 0/100/100/33</span>
		<span class="sg-label">Pantone: 484C</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #be0000;"></span>
		<span class="sg-label">Support Red light</span>
		<span class="sg-label">Hex: #be0000</span>
		<span class="sg-label">RGB: 190/0/0</span>
		<span class="sg-label">CMYK: 0/100/100/25</span>
    </li>
	<li>
		<span class="sg-swatch" style="background: #9a0000;"></span>
		<span class="sg-label">Support Red dark</span>
		<span class="sg-label">Hex: #9a0000</span>
		<span class="sg-label">RGB: 154/0/0</span>
		<span class="sg-label">CMYK: 0/100/100/40</span>
	</li>
    <li>
		<span class="sg-swatch" style="background: #e79998;"></span>
		<span class="sg-label">Marker Red </span>
		<span class="sg-label">Hex: #e79998</span>
		<span class="sg-label">RGB: 231/153/152</span>
		<span class="sg-label">CMYK: 7/49/32/0</span>
	</li>
    <li>
   		<span class="sg-swatch" style="background: #ffffff;"></span>
   		<span class="sg-label">White</span>
   		<span class="sg-label">Hex: #ffffff</span>
   		<span class="sg-label">RGB: 255/255/255</span>
   		<span class="sg-label">CMYK: 0/0/0/0</span>
   	</li>
    <li>
   		<span class="sg-swatch" style="background: #f4f4f4;"></span>
   		<span class="sg-label">Grey superlight</span>
   		<span class="sg-label">Hex: #f4f4f4</span>
   		<span class="sg-label">RGB: 244/244/244</span>
   		<span class="sg-label">CMYK: 0/0/0/8</span>
   		<span class="sg-label"></span>
   	</li>
   	<li>
   		<span class="sg-swatch" style="background: #b9b9b9;"></span>
   		<span class="sg-label">Grey light</span>
   		<span class="sg-label">Hex: #b9b9b9</span>
   		<span class="sg-label">RGB: 185/185/185</span>
   		<span class="sg-label">CMYK: 0/0/0/27</span>
   		<span class="sg-label">Pantone: Cool Gray 5</span>
   	</li>
    <li>
   		<span class="sg-swatch" style="background: #8c8c8c;"></span>
   		<span class="sg-label">Grey medium</span>
   		<span class="sg-label">Hex: #8c8c8c</span>
   		<span class="sg-label">RGB: 140/140/140</span>
   		<span class="sg-label">CMYK: 0/0/0/45</span>
   		<span class="sg-label">Pantone: Cool Gray 8</span>
   	</li>
    <li>
   		<span class="sg-swatch" style="background: #515151;"></span>
   		<span class="sg-label">Grey dark</span>
   		<span class="sg-label">Hex: #515151</span>
   		<span class="sg-label">RGB: 81/81/81</span>
   		<span class="sg-label">CMYK: 0/0/0/68</span>
   		<span class="sg-label">Pantone: Cool Gray 11</span>
   	</li>
   	<li>
   		<span class="sg-swatch" style="background: #000000;"></span>
   		<span class="sg-label">Black</span>
   		<span class="sg-label">Hex: #000000</span>
   		<span class="sg-label">RGB: 0/0/0</span>
   		<span class="sg-label">CMYK: 0/0/0/100</span>
   		<span class="sg-label">Pantone: Black C</span>
   	</li>
</ul>